body {
  background-color: #e8e8e8 !important;
  font-family: Arial, Helvetica, sans-serif;

}

.container {
  margin: 20px auto;

  width: 80%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 20px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 120px rgba(0, 0, 0, 0.12);
}

.btn {
  background-color: #0076bb;
  color: #fafafa;
  padding: 15px 25px;
  border-radius: 15px;
  border: none;
  box-shadow: 5px 5px 15px #bcbcbc, -5px -5px 15px #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-2px);
}

.btnOjo {
  background-color: #fff;
  border: none;
}

#containerBtnVolver {
  margin: 10px auto;
  padding: 10px;
  width: 96%;
}


#btnExportar {
  background-color: #fff;
  padding: 6px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

#btnExportar {
  margin-bottom: 20px;
  color: green;
  transition: all 0.3s;
}

#btnExportar:hover {
  background-color: green;
  color: white;
}