 .btnCarrito, .btnConfirmarCompra, .btnCancelarCompra {
     background-color: #fff;
     padding: 6px;
     border: 1px solid;
     border-radius: 5px;
     cursor: pointer;
 }

.btnConfirmarCompra{
    color: darkgreen;
    margin-right: 15px;
}

.btnCancelarCompra{
    color: red;
}

 /*
.btnEditar {
    color: rgb(76, 76, 255);
    margin-right: 10px;
}

.btnBorrar {
    color: red;
}

#btnInsertar {
    color: rgb(0, 109, 91);
}

.btnConfirmarCambios {
    margin-right: 10px;

    color: green;
}

.btnCancelarCambios {
    color: red;
} */

 .btnCarrito {
     color: green;
 }

 h2 {
     font-size: 1.5em;
     font-weight: bold;
     line-height: 1.2;
     margin-top: 20px;
     margin-bottom: 20px;
 }

 input[type="number"] {
     width: 50px;
     margin: 0px;
     margin-right: 10px;
 }

 #tdOpciones, #thOpciones {
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

#thPrincipal{
    color: darkgreen;
    background-color: #e9e9e9c5;
    text-align: center;
}